[mysqld]
datadir = {{  arkilog_mysql_datadir }}
max_connections = {{ arkilog_mysql_max_connections }}
key_buffer_size = {{ arkilog_mysql_key_buffer_size }}
query_cache_size = {{ arkilog_mysql_query_cache_size }}
tmp_table_size = {{ arkilog_mysql_tmp_table_size }}
